a { 
  
  text-decoration: none;
}


.page-link { 
 margin-top: 15px;
  color: black;
  margin-left: 15px;
  font-size: 20px;
}

.button-user {
  padding: 10px;
  margin-left: 5px;
  border-radius: 35px;
  border: none;
  
}

.input-user {
  border: 1px solid grey;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
}

.form-user {
  margin-left: 15px;
  width: 260px;
}

.page-user {
  color: black;
  font-size: 20px;
}

.user-name {
  margin-left: 15px;
  font-size: 32px;
}

.open-link {
  margin-left: 60px;
}